/*
    Document   : stylesheets/about_me.css
    Created on : 2014-05-15 06:05 AM
    Author     : jaseemkp
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}

header img.image{
    position : absolute;
    right : 0;
    top : 0;
}